body {
    font-family: "Montserrat", sans-serif;
    margin: 0;
    background-color: #000;
    color: #fff;
    overflow: hidden;
}

.main {
    display: flex;
    height: 100vh;
    padding: .5rem;
}

.sidebar {
    background-color: black;
    width: 340px;
    border-radius: 1rem;
    margin: 0.5rem;
}

.main-content {
    background-color: #121212;
    flex: 1;
    border-radius: 1rem;
    overflow: auto;
    padding: 0 1.5rem;

}

.music-player {
    background-color: black;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 72px;
}

a {
    text-decoration: none;
    color: #fff;
}

.nav {
    background-color: #121212;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100px;
    padding: .50rem .75rem;
    /* box-sizing: border-box; */
}

.nav-option {
    line-height: 2.5rem;
    opacity: .7;
    padding: .5rem .7rem;
}

.nav-option:hover {
    opacity: 1;
}

.nav-option i {
    font-size: 1.25rem;
}

.nav-option a {
    font-size: 1rem;
    margin-left: 1rem;
}

.library {
    background-color: #121212;
    border-radius: 1rem;
    margin-top: .5rem;
    height: 100%;
    padding: .5rem .7rem;
}

.option {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.lib-option img {
    height: 1.25rem;
    width: 1.25rem;
}

.icons {
    font-size: 1.25rem;
}

.icons i {
    opacity: .7;
    margin-right: .7rem;
}

.icons i:hover {
    opacity: 1;
}

.box {
    background-color: #232323;
    height: 8rem;
    border-radius: .75rem;
    margin: 1.75rem 0rem;
    padding: .5rem 1rem;
}

.box-p1 {
    font-size: 1rem;
    font-weight: 500;
}

.box-p2 {
    font-size: .75rem;
    opacity: .9;
}

.badge {
    background-color: #fff;
    border: none;
    border-radius: 100px;
    padding: .25rem 1rem;
    font-weight: 700;
    margin-top: .5rem;
    height: 2rem;
    width: fit-content;
}

.sticky-nav {
    position: sticky;
    top: 0;
    display: flex;
    background-color: #121212;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 0rem;
    z-index: 11;
}

.sticky-nav-icons img {
    margin-left: .75rem;
}

.sticky-nav-option {
    display: flex;
    justify-content: center;
    align-items: center;
}

.sticky-nav-option button {
    margin-right: 1rem;
}

.nav-item {
    margin-right: 1rem;
}

@media(max-width:992px) {
    .hide {
        display: none;
    }
}

.card {
    background-color: #232323;
    width: 150px;
    border-radius: 0.5rem;
    padding: 1rem;
    margin-left: 1.5rem;
    margin-top: 1rem;
}

.card-container {
    display: flex;
    flex-wrap: wrap;
}

.card-img {
    width: 100%;
    border-radius: .5rem;

}

.card-title {
    font-weight: 600;

}

.card-info {
    font-size: .85rem;
    opacity: .8;
}

.footer {
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.line {
    width: 90%;
    height: 30%;
    border-top: 1px solid white;
    opacity: .4;
}

.music-player {
    display: flex;
    justify-content: start;
}

.song-name {
    width: 25%;
    display: flex;
    align-items: center;
}

.song-name img {
    padding: .4rem;
}

h5 {
    margin: .0;
}

h5+p {
    font-size: .7rem;
    margin: 0;
    padding-right: 3rem;
    opacity: .5;
}

.gana2 {
    height: 2rem;
    width: 2rem;
}

.player {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.player-icons {
    display: flex;
    align-items: center;
    /* justify-items: baseline; */
}

.player-icons img {
    height: .8rem;
    width: .8rem;
    opacity: .6;
    margin: .25rem .5rem;
}

#time {
    width: 29rem;
    /* Width set */
    height: .25rem;
    /* Height set (but needs webkit thumb for proper look) */
    background: #fff;
    border-radius: 5px;
}
.range span,label{
    font-size: .8rem;
    opacity: .6;
}
.controller{
    width: 25%;
    display: flex;
    align-items: center;

}
.controller img{
    height: 36px;
    width: 24px;
    object-fit: contain; 
    margin-left: .7rem;
}
.controller input{
    height:.25rem;
    background-color:green;
    
}